.root{
    basic-container-width: 100;
    skill-box-width: 340;

    prof-box-font-size: 10;
    /*
    editting this is easier in VS
    */
}

*{
    -fx-font-family: 'HYWenHei-85W';
    -fx-text-fill: #b29e7e;
    /* -fx-background-color: #f9f5eb; */
}

.basic-container{
    -fx-max-width: basic-container-width;
}

/*#region primary stats */
.primary-stat-box{
    -fx-padding:5;
    -fx-border-color: BLACK;
}
.primary-stat-label{
    /* -fx-text-fill: #9a7660; */
    -fx-font-size: 10;
    -fx-font-weight: Bold;
    -fx-pref-width: basic-container-width;
    -fx-alignment: center;
    -fx-padding: 5 0 5 0;
}
.primary-stat-score{
    /* -fx-text-fill: #9a7660; */
    -fx-font-size: 25;
    -fx-pref-width: basic-container-width;
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-border-color: BLACK;
}

.primary-stat-mod-box{
    -fx-pref-width: basic-container-width;
    -fx-padding: 5 0 0 30;
}
.primary-stat-mod{
    -fx-text-fill: #9a7660;
    -fx-alignment: center;
}
.primary-stat-mod-prefix{
    -fx-text-fill: #9e948d;
    -fx-alignment: center-right;
}
/*#endregion  */

/*#region skills */
.skill-box-base{
    -fx-border-color: black;
    -fx-padding: 5 0 5 0;
    -fx-font-scale: prof-box-font-size;
    -fx-pref-width: skill-box-width;
}
.skill-prof-second{
    /* -fx-background-color: yellow; */
}
.skill-prof-second2{
    /* -fx-background-color: blue; */
}
.skill-proficiency-box{
    -fx-padding: 5 10 0 10;
}

.skill-proficiency-tick-proficient{
    -fx-background-color: purple;
}

.skill-proficiency-tick{
    -fx-padding: 5;
    -fx-max-height: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 6;
}

.skill-modifier-box{ /*primary stat*/
    -fx-alignment: center;
    -fx-pref-width: 50;
}
.skill-name-box{
    -fx-pref-width: 200;
}

.skill-bonus-box{
    -fx-alignment: center-right;
    -fx-pref-width: 50;
}
/*#endregion */