.root{
    basic-container-width: 100;
    skill-box-width: 340;

    prof-box-font-size: 10;
    /*
    editting this is easier in VS
    */
}

*{
    -fx-font-family: 'HYWenHei-85W';
    -fx-text-fill: #b29e7e;
    /* -fx-background-color: #f9f5eb; */
}

.basic-container{
    -fx-pref-width: basic-container-width;
    -fx-alignment: center;
}
.testing1{
    -fx-background-color: yellow;
}
.testing2{
    -fx-background-color: blue;
}
.modifier-box{
    -fx-alignment: center-left;
}
.modifier{
    -fx-text-fill: #9a7660;
    -fx-alignment: center;
}
.modifier-prefix{
    -fx-text-fill: #9e948d;
    -fx-alignment: center;
}
/*#region proficiency Tick  */
.proficiency-tick{
    -fx-pref-width: 18;
    -fx-pref-height: 18;
}
.proficiency-tick-fill{
    -fx-max-width: 10;
    -fx-max-height: 10;
    /* -fx-padding: 0 2.5 0 0; */
    -fx-background-color: black;
    -fx-shape: "M60.75114,152.13696c-1.18021-1.18021-1.18021-3.09371,0-4.27392l87.1119-87.1119c1.18021-1.18021,3.09371-1.18021,4.27392,0l87.1119,87.1119c1.18021,1.18021,1.18021,3.09371,0,4.27392l-87.1119,87.1119c-1.18021,1.18021-3.09371,1.18021-4.27392,0l-87.1119-87.1119Z";
}

.proficiency-tick-empty{
    -fx-max-width: 18;
    -fx-max-height: 18;
    -fx-background-color: black;
    -fx-shape: "M11.40707,152.82843C9.84497,151.26633,9.84497,148.73367,11.40707,147.17158L147.17157,11.40708C148.73367,9.84498,151.26633,9.84498,152.82842,11.40708L288.59292,147.17158C290.15502,148.73368,290.15502,151.26634,288.59292,152.82843L152.82842,288.59293C151.26632,290.15503,148.73366,290.15503,147.17157,288.59293L11.40707,152.82843ZM147.24997,264.85327C148.76877,266.37207,151.23122,266.37207,152.75002,264.85327L264.85326,152.75003C266.37206,151.23123,266.37206,148.76878,264.85326,147.24998L152.75002,35.14674C151.23122,33.62794,148.76877,33.62794,147.24997,35.14674L35.14673,147.24998C33.62793,148.76878,33.62793,151.23123,35.14673,152.75003L147.24997,264.85327Z";
}
/*#endregion  */

/*#region primary stats */
.primary-stat-box{
    -fx-padding:5;
    -fx-border-color: BLACK;
}
.primary-stat-label{
    /* -fx-text-fill: #9a7660; */
    -fx-font-size: 10;
    -fx-font-weight: Bold;
    -fx-pref-width: basic-container-width;
    -fx-alignment: center;
    -fx-padding: 5 0 5 0;
}
.primary-stat-score{
    /* -fx-text-fill: #9a7660; */
    -fx-font-size: 25;
    -fx-pref-width: basic-container-width;
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-border-color: BLACK;
}

.primary-stat-mod-box{
    -fx-pref-width: basic-container-width;
    -fx-alignment: center; /*todo not ideal would prefer just center on number*/
}
/*#endregion  */

/*#region skills */
.skill-box-base{
    -fx-border-color: black;
    -fx-padding: 5 0 5 0;
    
    -fx-pref-width: skill-box-width;
}

.skill-proficiency-box{
    -fx-padding: 0 5 0 10;
    -fx-alignment: center;
}

.skill-stat-box{ /*primary stat*/
    -fx-alignment: center;
    -fx-pref-width: 50;
}
.skill-name-box{
    -fx-pref-width: 210;
}
.skill-bonus-box{
    -fx-padding: 0 10 0 10;
}
/*#endregion */

/*#region savingthrows*/
.saves-box{
    -fx-padding: 5;
    -fx-max-width: basic-container-width;
    -fx-pref-width: basic-container-width;
    -fx-border-color: black;
}
.save-stat-box{ /*primary stat*/
    -fx-alignment: center;
    -fx-pref-width: 50;
}
/*#endregion */

/*#region hp buttons */
.hp-control-container{
    -fx-max-width: 460;
    -fx-pref-width: 460;
    -fx-border-color: black;
    -fx-padding: 0;
}
.hp-sub-container{
    -fx-max-width: 165;
}
.hp-sub-container-hp{
    -fx-max-width: 175;
}
.hp-button-container{
    -fx-max-width: basic-container-width;
    -fx-padding: 5 0 0 5;
}
.hp-button{
    -fx-pref-width: basic-container-width;
    -fx-alignment: center;
}
.hp-tracker-box{
    -fx-max-width: 82.5;
}
.hp-tracker-label{
    -fx-pref-width: 82.5;
    -fx-alignment: center;
}
.hp-tracker-hp{
    -fx-font-size: 25;
    -fx-padding: 10 0 10 0;
}
.hp-tracker-slash{
    -fx-font-size: 25;
    -fx-padding: 30 0 0 0;
}
.hp-tracker-descriptor{
    -fx-pref-width: 999; /*fill parent container (.hp-sub-container)*/
    -fx-alignment: center;
}

/*#endregion */